@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.right{
  float: right;
}
.box
{
  display: flex;
  flex-direction: row;
}

.box > span
{
  margin-right: 2px;
  border-right: 1px solid;
  padding: 0 8px;
  border: 1px solid #eee;
  background: #eee;
}
.repos{
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding: 5px;
}
.repos p {
  background: #f3f3f3;
  padding: 10px;
  margin: 10px 0;
}
